<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>own your MEALS | Home</title>
</head>
<header>
    <h1>own your MEALS</h1>
</header>
<body>
    <a href=""><button>Recipe Libray</button></a>
    <a href="/recipes"><button>Meal Diary </button></a>
   <a href=""><button>Shopping List</button></a>
    <p>There's no finish line, health is a journey ...</p>
</body>
<footer>
    <p>copyright &copy; all rights reserved 2021 own your MEALS</p>
</footer>
</html>