<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- local CSS -->
    <link rel="stylesheet" href="/styles.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <title>own your MEALS | Meal Diary</title>
</head>

<header>
    <h1 class="h1-index">own your MEALS</h1>
    <a class="aidx" href="/recipes/new"><button class="idxbn">Add a New Recipe</button></a>
    <a class="aidx" href="/"><button class="idxbn">Home</button></a>
</header>

<body class="body-index">
    <h2 class="h2-index">MEALS for the week</h2>

    <main class="main-index">
        <% recipes.forEach(recipe => { %>

        <div class="card-panel hoverable">
            <h5 class="h5-index"><%= recipe.name %></h5>
            <a href="/recipes/<%= recipe._id; %>"><img class="meals" src=<%= recipe.image %> style="width:100%"></a>

        </div>
        <%})%>
    </main>

</body>

</html>