<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- local CSS -->
    <link rel="stylesheet" href="/styles.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <title>own your MEALS | Meal Diary</title>
</head>
<header>
    <h1 class="h1-index">own your MEALS</h1>
        <a href="/"><button>Home</button></a>  
</header>

<body>
    <h2>MEALS for the week</h2>
    <article>
        <div>
        <% recipes.forEach(recipe => { %>
            <h5><%= recipe.name %></h5> 
            <a href="/recipes/<%= recipe._id; %>"><img src=<%= recipe.image %> style="width:20%"></a>
            
        <%})%>
    </div>
    </article>
    </main>
    <a href="/recipes/new"><button>Add a New Recipe</button></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
<footer>
    <p class="footer-home">copyright &copy; all rights reserved 2021 own your MEALS</p>
</footer>
</html>