<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- local CSS -->
    <link rel="stylesheet" href="/styles.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <title>own your MEALS | New Recipe</title>
</head>

<header>
    <h1 class="h1-new">own your MEALS</h1>
    <nav>
        <a class="anew" href="/recipes"><button class="bnew">Diary</button></a>
        <a class="anew" href="/"><button class="bnew">Home</button></a>
    </nav>
</header>

<body class="body-new">
    <!-- ============= CONTAINER ============== -->
    <div class="container">
        <!-- sidebar -->
        <div class="sidebar"></div>
        <!-- new-recipe container -->
        <div class="new-recipe">
            <h2 class="h2-new">New Recipe</h2>
            <!-- START FORM -->
            <form action="/recipes" method="POST" enctype="multipart/form-data">
                <!-- fieldset for meal info -->
                <fieldset class="meal-info">
                    <!-- legend for meal info -->
                    <legend>Meal Information</legend>
                    <!-- name -->
                    <label class="input-lable" for="username">Name</label>
                    <input class="input-new" type="text" name="name" id="name" />

                    <!-- image -->
                    <label class="input-lable" for="image">Image</label>
                    <input class="input-new" type="file" name="image" id="image">

                    <!-- time -->
                    <label class="input-lable" for="time">Time</label>
                    <input class="input-new" type="text" name="time" id="time" />

                    <!-- ingredients -->
                    <label class="input-lable" for="ingredients">Ingredients</label>
                    <input class="input-new" type="text" name="ingredients" id="ingredients" />

                    <!-- directions -->
                    <label class="input-lable" for="directions">Directions</label>
                    <input class="input-new" type="text" name="directions" id="directions" />

                    <!-- submit button -->
                    <input class="input-submitnw" type="submit" value="Add a Recipe">
            </form>
        </div>
    </div>

</body>

</html>